/* base styles : variables , wrapper , utilities typography,  components */
:root {
	/* color variables */
	--soft-blue: hsl(231, 69%, 60%);
	--soft-red: hsl(0, 94%, 66%);
	--grayish-blue: hsl(229, 8%, 60%);
	--very-dark-blue: hsl(229, 31%, 21%);
	--ligth-gray: hsl(0, 0%, 97%);
	--very-dark-gray: hsl(240deg 5% 36%);
	--off-white: hsl(198deg 100% 97%);
	--very-light-gray: hsl(240, 18%, 90%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	/* transitions */
	--btn-transition: background-color 300ms ease-in-out, color 150ms ease-in-out,
		border 150ms ease-in-out;
	--link-hover: color 200ms ease-in-out;
}

/* wrapper */
.wrapper {
	max-width: 1150px;
	margin: auto;
	padding: 0 20px;
}

/* utilities */
.flex-ac-jsb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-ac-jc {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-as-jsb {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* typography */
body {
	font-family: "Rubik", sans-serif;
}

h1,
h2,
h3 {
	font-weight: 500;
	color: var(--very-dark-blue);
}

h1 {
	font-size: 3.075rem;
	line-height: 1.075;
	letter-spacing: -1.02px;
}

h2 {
	font-size: 1.975rem;
}

h3 {
	font-size: 1.275rem;
}

p {
	font-size: 1.135rem;
	font-weight: 400;
	line-height: 1.525;
	color: var(--grayish-blue);
}

a {
	display: inline-block;
}

/* componenets : btns (links) */
.btn {
	border: 2px solid transparent;
	border-radius: 5px;
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.2px;
	text-align: center;
	text-decoration: none;
	transition: var(--btn-transition);
}

.btn-blue,
.btn-alert {
	color: var(--off-white);
	box-shadow: rgb(111 115 171 / 15%) 0px 3px 7px 3px;
}

.btn-blue {
	color: var(--off-white);
	background-color: var(--soft-blue);
}

.btn-gray {
	color: var(--very-dark-gray);
	background-color: var(--ligth-gray);
	box-shadow: rgb(111 115 171 / 27%) -2px 6px 7px -1px;
}

.btn-blue:hover {
	border: 2px solid var(--soft-blue);
	color: var(--soft-blue);
	background-color: var(--white);
}

.btn-gray:hover {
	border: 2px solid var(--very-dark-gray);
	color: var(--very-dark-gray);
	background-color: var(--white);
}

.btn-alert {
	background-color: var(--soft-red);
}

.btn-alert:hover {
	border: 2px solid var(--soft-red);
	color: var(--soft-red);
	background-color: var(--white);
}

button[type="submit"] {
	cursor: pointer;
}

/* main styles : sections , layout , spacing  */

/* header */
.header {
	padding: 48px 0px 48px 0px;
}

.header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	margin-left: 6px;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__moblogo {
	display: none; /* hidden on desktop */
}

.header__links {
	margin-right: 50px;
	list-style-type: none;
}

.header__item {
	display: inline-block;
}

.header__item:not(:last-of-type) {
	margin-right: 40.25px;
}

.header__link {
	font-size: 0.8125rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--black);
	transition: var(--link-hover);
}

.header__link:hover {
	color: var(--soft-red);
}

.header__social {
	display: none; /* hidden on desktop */
}

.header__login {
	height: 40px;
	width: 111px;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 38px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.header__hamburger {
	display: none; /* hidden on desktop */
}

/* main -- hero */
.hero {
	/* added max width & margin to be able to move the illustrtion to right */
	position: relative;
	max-width: 1335px;
	margin: auto;
	padding: 65px 0px 152.5px 0px;
	background-image: url("../images/illustration-hero.svg");
	background-repeat: no-repeat;
	background-position: right center;
}

.hero .wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.hero::before {
	content: "";
	position: absolute;
	right: -140px;
	bottom: 26.5px;
	z-index: -1;
	height: 355px;
	width: 600px;
	border-radius: 0px 0px 0px 175px;
	background-color: var(--soft-blue);
}

.hero__text {
	max-width: 45.5%;
	margin-top: 70.5px;
}

.hero__heading {
	margin-bottom: 25px;
}

.hero__paragraph {
	margin-bottom: 31px;
}

.hero__btn {
	height: 48px;
	line-height: 47.5px;
	text-align: center;
}

.hero__btn:nth-of-type(1) {
	width: 165px;
}

.hero__btn:nth-of-type(2) {
	width: 160px;
}

.hero__btn:nth-of-type(1) {
	margin-right: 12.5px;
}

/* main -- features & tabs */
.features {
	padding: 59px 0 165px 0;
}

.features__text {
	max-width: 535px;
	margin: auto;
	text-align: center;
}

.features__heading {
	margin-bottom: 22.5px;
}

.features__paragraph {
	margin-bottom: 41px;
}

.tabs {
	position: relative;
}

.tabs::before {
	content: "";
	position: absolute;
	left: -250px;
	bottom: -89px;
	z-index: -1;
	width: 715px;
	height: 352.5px;
	border-radius: 0 0 160px 0;
	background-color: var(--soft-blue);
}

.tabs__btns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 73px;
}

.tabs__btn {
	position: relative;
	width: 242px;
	height: 80px;
	border: none;
	border-bottom: 1px solid var(--very-light-gray);
	font-size: 1.05rem;
	color: var(--very-dark-gray);
	background: none;
	transition: var(--link-hover);
	cursor: pointer;
}

.tabs__btn:hover {
	color: var(--soft-red);
}

.tabs__btn--selected {
	color: var(--very-dark-blue);
}

.tabs__btn--selected::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--soft-red);
}

.tabs__content {
	position: relative;
	display: none;
	align-items: flex-start;
	justify-content: space-between;
}

.tabs__content--active {
	display: flex;
}

.tabs__img1 {
	margin-left: 5px;
}

.tabs__img2,
.tabs__img3 {
	margin-left: 120px;
}

.tabs__text {
	max-width: 445px;
	margin: 64px 0px 0px 60px;
}

.tabs__heading {
	margin-bottom: 24px;
}

.tabs__paragraph {
	margin-bottom: 32px;
}

.tabs__link {
	width: 115px;
	height: 49px;
	line-height: 46.5px;
}

/* main -- extensions & cards  */
.extensions {
	padding: 80px 0px 157.5px 0px;
}

.extensions__text {
	max-width: 550px;
	margin: auto;
	text-align: center;
}

.extensions__heading {
	margin-bottom: 25px;
	letter-spacing: 0.1px;
}

.extensions__paragraph {
	margin-bottom: 50px;
}

.cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 915px;
	margin: auto;
}

.card {
	flex: 0 0 282.5px;
	padding: 47.5px 25px 25px 25px;
	border-radius: 15px;
	text-align: center;
	background-image: url("../images/bg-dots.svg");
	background-repeat: no-repeat;
	background-position: center 74%;
	box-shadow: rgb(120 120 190 / 36%) 0px 14px 23px -11px;
}

.card:nth-of-type(2) {
	position: relative;
	top: 40px;
}

.card:nth-of-type(3) {
	position: relative;
	top: 80px;
}

.card__img {
	margin: 0 auto 30px auto;
}

.card__heading {
	margin-bottom: 10px;
}

.card__version {
	display: block;
	margin-bottom: 62.5px;
	font-size: 0.95rem;
	color: var(--grayish-blue);
}

.card__btn {
	display: block;
	height: 50px;
	line-height: 49px;
}

/* main -- faq & accordion */
.faq {
	padding: 77.5px 0px 150px 0px;
}

.faq__text {
	max-width: 505px;
	margin: auto;
	text-align: center;
}

.faq__heading {
	margin-bottom: 22.5px;
}

.faq__paragraph {
	margin-bottom: 55px;
}

.accordions {
	max-width: 545px;
	margin: 0 auto 50px auto;
}

.accordions__accordion {
	border-top: 1px solid var(--very-light-gray);
	padding-left: 2.5px;
}

.accordions__accordion:last-of-type {
	border-bottom: 1px solid var(--very-light-gray);
}

.accordion__btn {
	width: 100%;
	height: 66.5px;
	padding-right: 26px;
	border: none;
	font-size: 1.135rem;
	background-color: transparent;
	cursor: pointer;
}

.accordion__title,
.accordion__arrow {
	margin-top: 4px;
}

.accordion__title {
	transition: var(--link-hover);
}

.accordion__arrow {
	transition: transform 200ms linear;
}

.accordion__btn:hover .accordion__title {
	color: var(--soft-red);
}

.accordion__paragraph {
	font-size: 1.025rem;
	color: var(--very-dark-gray);
	line-height: 2;
	max-height: 0;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	transition: max-heigth 900ms ease-in-out, margin-bottom 100ms ease-in-out,
		padding-top 100ms ease-in-out;
}

.accordions__accordion--active .accordion__arrow {
	transform: rotate(180deg);
}

.accordions__accordion--active .accordion__btn path {
	stroke: var(--soft-red);
}

.accordions__accordion--active .accordion__paragraph {
	max-height: 900px;
	margin-bottom: 35px;
	padding-top: 15px;
}

.faq__btn {
	width: 115px;
	height: 50px;
	line-height: 48px;
}

/* main -- contact */
.contact {
	padding: 66.5px 0px 75px 0px;
	text-align: center;
	background-color: var(--soft-blue);
}

.contact__paragraph {
	margin-bottom: 35px;
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 5.35px;
	color: var(--white);
	text-transform: uppercase;
}

.contact__heading {
	max-width: 445px;
	margin: 0 auto 33px auto;
	color: var(--white);
	line-height: 1.3;
}

.contact__form {
	position: relative;
	width: fit-content;
	height: 50px;
	margin: auto;
}

.contact__input {
	display: inline-block;
	width: 300px;
	height: 100%;
	margin-right: 17.5px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 0.925rem;
	font-weight: 500;
	color: var(--very-dark-blue);
}

.contact__error {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	font-size: 0.775rem;
	font-weight: 400;
	color: var(--white);
	font-style: italic;
	background-color: var(--soft-red);
	width: 300px;
	border-radius: 0px 0px 5px 5px;
	text-align: left;
	padding-left: 10px;
}

.contact__form--error .contact__error {
	display: block;
}

.contact__form--error .contact__input {
	border: 4px solid var(--soft-red);
	background-image: url("../images/icon-error.svg");
	background-position: 95% center;
	background-repeat: no-repeat;
	outline: none;
	padding-right: 40px;
}

.contact__input::placeholder {
	font-weight: 400;
	color: var(--very-light-gray);
}

.contact__submit {
	height: 100%;
	width: 125px;
	line-height: 48px;
}

/* footer */
.footer {
	padding: 27.5px 0px;
	background-color: var(--very-dark-blue);
}

.footer .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__logo {
	margin-right: 65px;
}

.footer__links {
	list-style-type: none;
}

.footer__li {
	display: inline-block;
	margin-right: 41.25px;
}

.footer__link {
	font-size: 0.7525rem;
	font-weight: 400;
	color: var(--off-white);
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	transition: var(--link-hover);
}

.footer__link:hover {
	color: var(--soft-red);
}

.footer__social {
	margin-left: auto;
}

.footer__acc:first-of-type {
	margin-right: 40px;
}

.footer__acc path {
	transition: fill 200ms ease-in-out;
}

.footer__acc:hover path {
	fill: var(--soft-red);
}

/* Responsive */

@media (max-width: 1180px) {
	/* main styles : sections , layout , spacing */

	/* main -- hero */
	.hero {
		height: 76vw;
		min-height: 725px;
		padding: 20px 0px 77.5px 0px;
		background-position: center 8%;
		background-size: 64.5%;
	}

	.hero::before {
		height: 33.5vw;
		width: 84vw;
		top: 112px;
		right: -99px;
	}

	.hero .wrapper {
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
	}

	.hero__text {
		margin: 0 auto 0 auto;
		text-align: center;
		width: 100%;
		max-width: 800px;
		margin-bottom: 15px;
	}

	.hero__btns {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hero__btn:nth-of-type(1) {
		margin-right: 5px;
	}

	/* main -- features & tabs */
	.features {
		padding: 77.5px 0 60px 0;
	}

	.features__heading {
		margin-bottom: 20px;
	}

	.features__paragraph {
		margin-bottom: 35px;
	}

	/* featrues & tabs */
	.tabs__text {
		margin: 50px 0px 0px 40px;
	}

	.tabs__heading {
		font-size: 1.75rem;
	}

	.tabs__paragraph {
		font-size: 1rem;
	}
}

@media (max-width: 960px) {
	/* typography */
	h1 {
		font-size: 1.85rem;
		line-height: 1.075;
		letter-spacing: -1.02px;
	}

	h2 {
		font-size: 1.4975rem;
	}

	h3 {
		font-size: 1.125rem;
	}

	p {
		font-size: 0.95rem;
		line-height: 1.725;
	}

	/* main styles : sections , layout , spacing */

	/* header */
	.header {
		padding: 40px 0px;
	}

	.header__logo {
		margin-left: 0;
	}

	.header__nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -2;
		display: block;
		width: 100%;
		height: 100%;
		padding: 40px 35px 40px 20px;
		background-color: hsla(229, 25%, 25%, 0.902);
		opacity: 0;
	}

	.header__nav--open {
		z-index: 2;
		opacity: 1;
	}

	.header__moblogo {
		display: block;
		margin-bottom: 40px;
	}

	.header__links {
		margin: 0;
	}

	.header__item {
		display: block;
		padding: 20px 0px;
		border-top: 1px solid hsla(230, 14%, 49%, 0.66);
		text-align: center;
	}

	.header__item:not(:last-of-type) {
		margin-right: 0;
	}

	.header__item:last-of-type {
		margin-bottom: 25px;
		border-bottom: 1px solid hsla(230, 14%, 49%, 0.66);
	}

	.header__link {
		font-size: 1.1rem;
		color: var(--off-white);
	}

	.header__link:hover {
		color: var(--off-white);
	}

	.header__social {
		position: absolute;
		bottom: 20px;
		left: 50%;
		display: block;
		transform: translateX(-50%);
	}

	.header__facebook {
		margin-right: 30px;
	}

	.header__login {
		display: block;
		width: 100%;
		max-width: 500px;
		height: 50px;
		margin: auto;
		border: 2px solid var(--off-white);
		font-size: 1.2rem;
		line-height: 50px;
		background-color: transparent;
	}

	.header__login:hover {
		border-color: var(--off-white);
		color: var(--off-white);
		background-color: transparent;
	}

	.header__hamburger {
		display: block;
		width: 20px;
		height: 16px;
		cursor: pointer;
	}

	.header__line {
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--very-dark-blue);
	}

	.header__line:nth-of-type(1),
	.header__line:nth-of-type(3) {
		transition: transform 200ms linear;
	}

	.header__line:nth-of-type(2) {
		margin: 3px 0px;
		transition: opacity 150ms ease-in-out;
	}

	.header__hamburger--active {
		position: relative;
		z-index: 3;
	}

	.header__hamburger--active .header__line {
		background-color: var(--white);
	}

	.header__hamburger--active .header__line:nth-of-type(2) {
		opacity: 0;
	}

	.header__hamburger--active .header__line:nth-of-type(1) {
		transform: rotate(45deg);
		transform-origin: left;
	}

	.header__hamburger--active .header__line:nth-of-type(3) {
		transform: rotate(-45deg);
		transform-origin: left;
	}

	/* main -- tabs */
	.tabs::before {
		left: -100px;
		top: 190px;
		width: 65vw;
		min-width: 505px;
		height: 356px;
	}

	.tabs__content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.tabs__img {
		margin-bottom: 100px;
	}

	.tabs__img1 {
		margin-left: 0px;
	}

	.tabs__img2,
	.tabs__img3 {
		margin-left: 0px;
	}

	.tabs__text {
		max-width: 500px;
		margin: 0;
		text-align: center;
	}

	.tabs__heading {
		margin-bottom: 18px;
		font-size: 1.425rem;
	}

	.tabs__paragraph {
		margin-bottom: 25px;
	}

	.tabs__link {
		display: none;
	}

	/* main -- extensions & card */
	.extensions {
		padding: 50px 10px 70px 10px;
	}

	.extensions__text {
		max-width: 500px;
	}

	.extensions__heading {
		margin-bottom: 20px;
	}

	.extensions__paragraph {
		margin-bottom: 45px;
	}

	.cards {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.card {
		flex: initial;
		max-width: 325px;
		width: 100%;
	}

	.card:nth-of-type(2),
	.card:nth-of-type(3) {
		position: static;
		margin-top: 40px;
	}

	/* main -- faq & accordion */
	.faq {
		padding: 70px 0px 125px 0px;
	}

	.faq__heading {
		margin-bottom: 25px;
	}

	.faq__paragraph {
		margin-bottom: 40px;
	}

	.accordions__accordion:first-of-type {
		border-top: none;
	}

	.accordion__btn {
		height: 60px;
		padding-right: 5px;
		font-size: 0.935rem;
		text-align: left;
	}

	.accordion__paragraph {
		font-size: 0.9rem;
	}

	/* main -- contact */
	.contact__input {
		font-size: 0.85rem;
	}

	/* footer */
	.footer__logo {
		margin-right: 35px;
	}

	.footer__acc:first-of-type {
		margin-right: 20px;
	}
}

@media (max-width: 650px) {
	/* main styles : sections , layout , spacing */

	/* hero */
	.hero {
		background-size: 100%;
	}

	.hero::before {
		top: 140px;
		right: -99px;
		height: 46vw;
		width: 94vw;
	}

	/* main -- tabs */
	.tabs__btns {
		flex-direction: column;
	}

	.tabs__btn {
		width: 100%;
		height: 57.5px;
	}

	.tabs__btn--selected::after {
		width: 40%;
		left: 50%;
		transform: translateX(-50%);
	}

	.tabs__btn:nth-of-type(1) {
		border-top: 1px solid var(--very-light-gray);
	}

	.tabs::before {
		left: -100px;
		top: 297px;
		min-width: 120px;
		width: 68vw;
		height: 61vw;
	}

	/* main -- contact */
	.contact {
		padding: 60px 0px 55px 0px;
	}

	.contact__paragraph {
		margin-bottom: 15px;
		font-size: 0.675rem;
	}

	.contact__heading {
		margin-bottom: 30px;
		font-size: 1.325rem;
	}

	.contact__form {
		max-width: 375px;
		width: 100%;
		height: initial;
		margin: auto;
	}

	.contact__input,
	.contact__submit {
		display: block;
		width: 100%;
		height: 50px;
	}

	.contact__input {
		margin-bottom: 15px;
	}
	
	.contact__form--error .contact__input {
		margin-bottom: 40px;
	}

	.contact__error {
		width: 100%;
	}

	/* footer */
	.footer {
		padding: 40px 0px;
	}

	.footer .wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.footer__logo {
		margin-bottom: 30px;
		margin-right: 0;
	}

	.footer__nav {
		width: 100%;
	}

	.footer__links {
		text-align: center;
	}

	.footer__li {
		display: block;
		margin-right: 0;
		margin-bottom: 25px;
	}

	.footer__social {
		margin-left: 0;
		margin-top: 10px;
	}
}
